{% extends 'base.html' %}
{% block title %}
Список задач
{% endblock %}

{% block content %}
<h2>Список задач</h2>
<a href="{% url 'task_create' %}" type="button" class="btn btn-outline-success">Створити задачу</a>
{% for task in tasks %}
    <div class="list-group my-2">
        <a href="{% url 'task_detail' task.pk %}" class="list-group-item list-group-item-action">{{ task.title }}
        <span class="badge rounded-pill text-bg-primary">{{ task.get_status_display }}</span>
        <span class="badge rounded-pill text-bg-info">{{ task.get_priority_display }}</span>
        </a>
    </div>
{% endfor %}
{% endblock %}
